<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE mapper PUBLIC '-//org.mybatis//DTD Configuration//EN' 'http://org.mybatis/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="sqlM">
 <!--#{group_id,javaType=int,jdbcType=NUMERIC,typeHandler=MyTypeHandler}-->
    
    <sql id="smplSelect">select * from ${table}</sql>
    
    <select id="findAllUsers" resultMap="uMapper.UserMap">
         select * from users  
    </select>
    
    <select id="findUserById" resultMap="uMapper.UserMap">
        <include refid="smplSelect">
            <property name="table" value="users u"/>
        </include>  
        where u.id=#{id}
    </select>
<!--    <select id="findAllAuthors" resultMap="aMapper.AuthorMap">
        select     a.real_name , a.id_card , 
        u.id , u.user_name , u.password 
        from authors a left join
        users u on a.user_id=u.id
    </select>-->
    
    
     <!--find authors with user--> 
    <select id="findAllAuthors" resultMap="aMapper.AuthorMap">
        <include refid="smplSelect">
            <property name="table" value="authors a"/>
        </include>
         left join
        users u on a.user_id=u.id
    </select>
    
    <!--find authors without user--> 
    <select id="findAllAuthors_A" resultMap="aMapper.AuthorMap">
        <include refid="smplSelect">
            <property name="table" value="authors"/>
        </include>
    </select>
    
    <select id="findAuthorById" resultMap="aMapper.AuthorMap">
        <include refid="smplSelect">
            <property name="table" value="authors"/>
        </include>
        where id=#{id}
    </select>
    
    <!--for nested select-->
    <select id="findVisitorByUserId" resultMap="vMapper.VisitorMap">
        select * from visitors v where v.user_id=#{id};
    </select>
    
    
    <select id="findVisitorById" resultMap="vMapper.VisitorMap">
        select * from visitors v where v.id=#{id};
    </select>
    <select id="findAllVisitors" resultMap="vMapper.VisitorMap">
        select * from visitors  
    </select>
    
    <!--****************INSERT**************-->
    
    
    
    <sql id="insU">insert into users(user_name,password) values</sql>
    <insert id="insertUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        <include refid="insU"/>
        (#{userName},#{password})
    </insert>
<!--    <insert id="insertUsers" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        <include refid="insU"/>
       <foreach item="item" collection="list" separator=",">
           (#{item.userName},#{item.password})
            
       </foreach>
    </insert>-->
    
    
    <sql id="insA">insert into authors(real_name,id_card,user_id) values</sql>
    <insert id="insertAuthor"  
            parameterType="Author" keyProperty="id" useGeneratedKeys="true">
        <include refid="insA"/>
        (#{realName},#{idCard},#{user.id})
         
    </insert>
    
<!--    <insert id="insertAuthors"  
        parameterType="Author" keyProperty="id" useGeneratedKeys="true">
        <include refid="insA"/>
        <foreach item="item" separator="," collection="list">
            (#{item.realName},#{item.idCard},#{item.user.id})
        </foreach>
    </insert>   -->
    
      <sql id="insV">insert into visitors(user_id,visitor_ip,visit_date) values </sql>
    <insert  id="insertVisitor" parameterType="Visitor" keyProperty="id" useGeneratedKeys="true">
        insert into visitors 
        
        <trim prefix="(" suffix=")" suffixOverrides=","> 
            <if test="visitorIp != null"> visitor_ip, </if> 
            <if test="visitDate != null"> visit_date, </if> 
            <if test="user.id != null"> user_id, </if> 
        </trim> 
        <trim prefix="values (" suffix=")" suffixOverrides=","> 
            <if test="visitorIp != null"> #{visitorIp}, </if> 
            <if test="visitDate != null"> #{visitDate}, </if> 
            <if test="user.id != null"> #{user.id}, </if> 
        </trim>
 
    </insert> 
    
     <!--*****************UPDATE****************--> 
     
    <update id="updateAuthor" parameterType="Author">
        update authors
<!--        <set>
            <if test="#{realName!=null}">real_name = #{realName},</if>
            <if test="#{idCard!=null}">id_card = #{idCard},</if>
            <if test="#{user.id!=null}">user_id = #{user.id},</if>
        </set>-->
        <trim prefix="set" suffixOverrides=",">
            <if test="realName!=null">real_name = #{realName},</if>
            <if test="idCard!=null">id_card = #{idCard},</if>
            <if test="user.id!=null">user_id = #{user.id},</if>
        </trim>
        where id=#{id}
    </update>
    
    <update id="updateUser" parameterType="User">
        update users
        <set>
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="password!=null">password=#{password},</if>
        </set>        
        <where>
            <if test="id != null">id=#{id}</if>
        </where>
    </update>
    
    <update id="updateVisitor" parameterType="Visitor">
        update visitors
        <set>
            <if test="visitorIp!=null">visitor_ip=#{visitorIp},</if>
            <if test="visitDate!=null">visit_date=#{visitDate},</if>
            <if test="user.id!=null">user_id=#{user.id},</if>
        </set>
        
        where id=#{id}
    </update>
    
    <!--***************DELETE*************-->
    <sql id="del">delete from ${table} where id=${id}</sql>
    
    <delete id="deleteUser" parameterType="User">
        <include refid="del">
            <property name="table" value="users"/>
            <property name="id" value="#{id}"/>
        </include>
    </delete>  
         
    <delete id="deleteAuthor" parameterType="Author">
        <include refid="del">
            <property name="table" value="authors"/>
            <property name="id" value="#{id}"/>
        </include>
    </delete>       
    
    <delete id="deleteVisitor" parameterType="Visitor">
        <include refid="del">
            <property name="table" value="visitors"/>
            <property name="id" value="#{id}"/>
        </include>
    </delete>
    
 <!--***************Vehicle hierarchy**************-->
 
    <select id="findAllCars" resultMap="VHierarchy.VehicleMap">
        select * from vehicles where d = 1
    </select>
    <select id="findAllVans" resultMap="VHierarchy.VehicleMap">
        select * from vehicles where d = 2
    </select>
    <select id="findAllTrucks" resultMap="VHierarchy.VehicleMap">
        select * from vehicles where d = 3
    </select>
                         
</mapper>
