<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="uMapper" >
        <resultMap id="UserMap" type="User" autoMapping="true">
            <id property="id" column="id"/>
            <result property="userName" column="user_name"/>
            <!--<result property="password" column="password"/>-->
        </resultMap> 
        
</mapper>

