<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Configuration 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="vMapper">
    <resultMap id="VisitorMap" type="Visitor">
        <id property="id" column="id"/>
        <result property="visitorIp" column="visitor_ip"/>
        <result property="visitDate" column="visit_date"/>
        <association property="user" column="user_id" select="sqlM.findUserById"  />
    </resultMap>
</mapper>
